<app-nav></app-nav>
<div class="container">
  <div class="responsive">
    <button class="btn btn-outline-primary mb-2" routerLink="/crear-alquiler">Alquilar juego</button>
    <table class="table table-hover table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Fecha  de alquiler</th>
          <th scope="col">Fecha de entrega </th>
          <th scope="col">Precio del alquiler </th>
          <th scope="col">Cliente</th>
          <th scope="col">Juego Rentado</th>
       
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alquiler of alquilerLista | paginate: { itemsPerPage: 7, currentPage: p }">
          <td>{{alquiler.fechaAlquiler |date: 'yyyy-MM-dd'}}</td>
          <td>{{alquiler.fechaEntrega |date: 'yyyy-MM-dd' }}</td>
          <td>{{alquiler.precioAlquiler}}</td>
          <td>{{alquiler.cliente.nombreCompleto}}</td>
          <td>{{alquiler.videoJuego.nombre}}</td>
        </tr>
      </tbody>
    </table>
    <div class="row justify-content-center">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
